.brand-logo {
  background-color: #353232;
  border-bottom: 1px solid #888888;
}

.user-info-card {
  position: relative;
  margin-bottom: 1rem;

  .icon-vdots {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    //margin: auto;
    color: $body-color;
    font-size: 1.5rem;
  }
}
