// Custom Bootstrap variables must be set or imported *before* bootstrap
$primary: #007483;    // You can adjust this blue color
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #9c2430;
$light: #212529;
$dark: #f8f9fa;

// Background colors
$body-bg: #212529;
$body-color: #f8f9fa;

// Card colors
$card-bg: #2c3034;
$card-border-color: rgba(255, 255, 255, 0.125);

// Input colors
$input-bg: #2c3034;
$input-border-color: #495057;
$input-color: #f8f9fa;
$input-placeholder-color: #6c757d;

// Button colors
$btn-color: #f8f9fa;

// Link colors
$link-color: #9a9202;
$link-decoration: none;
$link-hover-color: lighten($link-color, 25%);
$link-hover-decoration: none;

// Set theme colors
$theme-colors: (
"primary": $primary,
"secondary": $secondary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark
);


