@import "custom_colors";
@import url("https://unpkg.com/trix@2.0.8/dist/trix.css");

trix-toolbar button.trix-button.trix-button--icon-underline::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  content: "" !important;

  $icon-size: 1.4em;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  margin: auto;

  -webkit-mask: url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">\
  <path d="M5 3v7a5 5 0 0 0 10 0V3" fill="none" stroke="black" stroke-width="2" stroke-linecap="round"/>\
  <path d="M4 17h12" fill="none" stroke="black" stroke-width="2" stroke-linecap="round"/>\
</svg>') no-repeat center / contain !important;

  mask: url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">\
  <path d="M5 3v7a5 5 0 0 0 10 0V3" fill="none" stroke="black" stroke-width="2" stroke-linecap="round"/>\
  <path d="M4 17h12" fill="none" stroke="black" stroke-width="2" stroke-linecap="round"/>\
</svg>') no-repeat center / contain !important;

  background-image: url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">\
  <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">\
    <path d="M5 3v7a5 5 0 0 0 10 0V3" />\
    <path d="M4 17h12" />\
  </g>\
</svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: $icon-size $icon-size;
}

trix-toolbar .trix-button::before {
  filter: invert(1) hue-rotate(45deg) saturate(1.9) brightness(1.3);
}

figcaption {
  color: $trix-figcaption;
}

a.attachment__link figure.attachment.attachment--file.attachment--txt {
  border: 1px solid $trix-file-border;
}

.trix-content .attachment--file.attachment--txt {
  color: $trix-file-color;
}